html {
  font-size: 100px;
}

body {
  background-color: #f5f5f5;
}

.swiper {
  width: 100vw;
  height: 1.85rem;
  margin-top: .42rem;
}

.swiper img {
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper .swiper-pagination {
  width: .42rem;
  height: .15rem;
  line-height: .15rem;
  font-size: .1rem;
  background-color: rgba(48, 47, 53, 0.452);
  border-radius: 1rem;
  color: white;
  margin-left: 86%;
}

.content {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: .22rem;
  padding-bottom: .2rem;
  border-bottom: 1px solid #f3f3f3;
  background-color: white;
}

.content .con_box {
  width: 90vw;
}

.content .con_box .middle_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .con_box .middle_text .left_text {
  margin-top: .1rem;
  line-height: .3rem;
  font-size: .15rem;
}

.content .con_box .middle_text .imgs_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .con_box .middle_text .imgs_phone img {
  height: .21rem;
}

.content .times {
  line-height: .4rem;
  font-size: .12rem;
  color: #bbbbc8;
}

.content .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.content .tags .t {
  margin: 0 .1rem;
  background-color: #dee9f0;
  padding: .08rem .07rem;
}

.content .tags .t a {
  color: #899fb2;
}

.content .tags .tag1 {
  margin-left: 0;
}

.con_fangyuan_text {
  margin-top: .2rem;
  width: 100vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.con_fangyuan_text .inner_fang_text {
  width: 90vw;
  height: 100%;
}

.con_fangyuan_text .inner_fang_text .fang_msg {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-bottom: 1px solid #f3f3f3;
}

.con_fangyuan_text .inner_fang_text .fang_msg .msg_box {
  font-size: .14rem;
  color: black;
  width: 50%;
  line-height: .5rem;
}

.con_fangyuan_text .inner_fang_text .fang_msg .one_msg {
  font-size: .14rem;
  color: black;
  width: 100%;
  line-height: .5rem;
}

.con_fangyuan_text .inner_fang_text .fang_msg .last {
  font-size: .14rem;
  color: black;
  width: 100%;
  text-align: center;
  line-height: .5rem;
}

.con_fangyuan_text .inner_fang_text .fang_msg .last a {
  color: #cad5d6;
}

.box_out_sp {
  margin-top: .2rem;
  width: 100vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box_out_sp .inner_box_sp {
  width: 85vw;
  height: 100%;
}

.box_out_sp .inner_box_sp .title_box {
  border-bottom: 1px solid #dee9f0;
}

.box_out_sp .inner_box_sp .title_box a {
  font-size: .2rem;
  color: orange;
  line-height: .5rem;
}

.box_out_sp .inner_box_sp .will_big_huxing {
  margin-top: .2rem;
  padding-bottom: .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid orange;
}

.box_out_sp .inner_box_sp .will_big_huxing .huxing_left_img img {
  width: 0.9rem;
}

.box_out_sp .inner_box_sp .will_big_huxing .huxing_left_img .im {
  width: 1rem;
}

.box_out_sp .inner_box_sp .will_big_huxing .huxing_right_box {
  width: 2.1rem;
}

.box_out_sp .inner_box_sp .will_big_huxing .huxing_right_box .huxing_top_text {
  font-size: .16rem;
}

.box_out_sp .inner_box_sp .will_big_huxing .huxing_right_box #tuijian_title {
  color: black;
}

.box_out_sp .inner_box_sp .will_big_huxing .huxing_right_box .huxing_middle_text {
  margin-top: .08rem;
  font-size: .12rem;
}

.box_out_sp .inner_box_sp .will_big_huxing .huxing_right_box .huxing_middle_text .fangyuan_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box_out_sp .inner_box_sp .will_big_huxing .huxing_right_box .huxing_middle_text .fangyuan_inner div {
  line-height: .2rem;
}

.box_out_sp .inner_box_sp .will_big_huxing .huxing_right_box .huxing_middle_text .fangyuan_inner .money {
  color: orange;
  font-size: .14rem;
}

.box_out_sp .inner_box_sp .will_big_huxing .huxing_right_box .huxing_middle_text .fangyuan_inner:first-child {
  color: black;
  font-size: .14rem;
}

.box_out_sp .inner_box_sp .will_big_huxing .huxing_right_box .tags {
  margin-top: .08rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.box_out_sp .inner_box_sp .will_big_huxing .huxing_right_box .tags .t {
  margin: 0 .1rem;
  background-color: #dee9f0;
  padding: .08rem .07rem;
}

.box_out_sp .inner_box_sp .will_big_huxing .huxing_right_box .tags .rig {
  margin-left: 0;
}

.box_out_sp .inner_box_sp .want_say {
  width: 108%;
  height: .36rem;
  background-color: whitesmoke;
  position: relative;
  margin-top: -0.1rem;
}

.box_out_sp .inner_box_sp .want_say .san_jiao {
  width: 0px;
  height: 0px;
  border: .14rem solid;
  border-top: none;
  position: absolute;
  border-color: whitesmoke transparent;
  top: -40%;
  left: 6%;
}

.box_out_sp .inner_box_sp .want_say span {
  color: black;
  line-height: .36rem;
  margin-left: .1rem;
}

.box_out_sp .inner_box_sp .will_big_huxing:last-child {
  border-bottom: none;
  margin-bottom: .2rem;
}

#just_con_text {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  line-height: normal;
  margin-top: .2rem;
  margin-bottom: .2rem;
  line-height: .23rem;
}

#container {
  margin-top: .2rem;
  margin-bottom: .2rem;
  width: 100%;
  height: 2rem;
}

.fang_msg {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-bottom: 1px solid #f3f3f3;
}

.fang_msg .one_msg {
  font-size: .14rem;
  color: black;
  width: 100%;
  line-height: .5rem;
}

.fang_msg .last {
  font-size: .14rem;
  color: black;
  width: 100%;
  text-align: center;
  line-height: .5rem;
}

.fang_msg .last a {
  color: #cad5d6;
}

footer {
  width: 100vw;
  height: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2f3130;
  padding-bottom: .2rem;
  position: fixed;
  bottom: 0;
  z-index: 9999;
}

footer .out_foot_box {
  width: 90vw;
  height: 100%;
  background-color: #2f3130;
}

footer .out_foot_box .fo_text {
  margin-top: .2rem;
}

footer .out_foot_box .fo_text p {
  line-height: .16rem;
  color: #8b8d8e;
  font-size: .12rem;
  text-align: center;
  letter-spacing: .01rem;
}

footer .out_foot_box .foot_top_text {
  font-size: .16rem;
  line-height: .5rem;
  color: #8b8d8e;
  border-bottom: 1px solid #393b3a;
}

footer .out_foot_box .foot_imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

footer .out_foot_box .foot_imgs .foot_img {
  margin-top: .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

footer .out_foot_box .foot_imgs .foot_img div img {
  width: .3rem;
}

footer .out_foot_box .foot_imgs .foot_img .fot {
  margin-left: .1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .out_foot_box .foot_imgs .foot_img .fot span {
  color: #8b8d8e;
  font-size: .12rem;
}

.tel_people {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: .6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #bbbbc8;
  z-index: 10000;
}

.tel_people .inner_tel_pel {
  width: 90vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tel_people .inner_tel_pel .tt_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tel_people .inner_tel_pel .tt_box div {
  font-size: .15rem;
  color: black;
}

.tel_people .inner_tel_pel .tt_box div img {
  width: .25rem;
}

.tel_people .inner_tel_pel .tt_box a {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .08rem .5rem;
  border-radius: .04rem;
  background-color: #ff8a00;
  font-size: .16rem;
}

.tel_people .inner_tel_pel .tt_box a div {
  color: white;
}

.tel_people .inner_tel_pel .tt_box .tex_pel {
  margin-left: .1rem;
}

#find_box {
  padding-bottom: 1.8rem;
}
