html {
  font-size: 100px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #ff8a00;
  position: fixed;
  top: 0px;
  z-index: 9999;
}

header .box {
  width: 100vw;
  height: 0.42rem;
  background-color: #ff8a00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header .box .left_logo {
  width: 1.2rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .box .left_logo img {
  width: 1.1rem;
}

header .box .right_img {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .box .right_img .my,
header .box .right_img .app {
  margin: 0 0.1rem;
}

header .box .right_img img {
  height: 0.3rem;
}

input {
  height: 0.3rem;
  outline: none;
  border: none;
}

.under_li {
  height: 0.43rem;
  border-bottom: 1px solid #dcdcdc;
}

.under_li:first {
  height: 0.37rem;
  border-bottom: 1px solid #dcdcdc;
}

.sp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sp input {
  margin-left: 0.15rem;
}

.sp span {
  margin-left: 0.15rem;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.phone .input_num {
  margin-left: 0.15rem;
}

.phone .send_yan {
  width: 0.8rem;
  height: 0.32rem;
  font-size: 0.12rem;
  color: #666666;
  border: 1px solid #dcdcdc;
  background-color: white;
  margin-right: 0.15rem;
}

.btn_out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 0.16rem;
}

.btn_out .btn {
  width: 3.4rem;
  height: 0.5rem;
  border-radius: 0.04rem;
  background-color: #ff8a00;
  text-align: center;
  line-height: 0.5rem;
}

.btn_out .btn a {
  font-size: 0.18rem;
  color: white;
}
